<!--<div *ngIf="selectedSegment === 'certif'">
  <ion-item>
    <ion-input #inputnomcerti label="Nombre Certificado" [(ngModel)]="cert.nombre"></ion-input>
  </ion-item>
  <mat-form-field>
    <mat-label>Fecha Obtención</mat-label>
    <input matInput [matDatepicker]="picker2">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <ion-item>
    <ion-input label="Certificado posee fecha de expiración" [(ngModel)]="cert.expiracion"></ion-input>
    <ion-select placeholder="Seleccione una opción" [(ngModel)]="cert.expiracion">
      <ion-select-option *ngFor="let cert of certificados" [value]="cert.id">{{cert.certifi}}</ion-select-option>
    </ion-select>
  </ion-item>
  <mat-form-field>
    <mat-label>Fecha Expiración</mat-label>
    <input matInput [matDatepicker]="picker3">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>    

</div>-->